*{
    box-sizing: border-box;
}
html, body{
    font-family: 'Nunito', sans-serif;
}
.contianer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.box{
    background: lime;
    width: 200px;
    height: 200px;
}